# Project Plan

In [1]:
### Import libraries and data

import pandas as pd
import numpy as np

### Loading for TripleTen on-platform use

# df_contract = pd.read_csv('/datasets/final_provider/contract.csv')
# df_personal = pd.read_csv('/datasets/final_provider/personal.csv')
# df_internet = pd.read_csv('/datasets/final_provider/internet.csv')
# df_phone = pd.read_csv('/datasets/final_provider/phone.csv')

### Loading for personal directory

df_contract = pd.read_csv('contract.csv')
df_personal = pd.read_csv('personal.csv')
df_internet = pd.read_csv('internet.csv')
df_phone = pd.read_csv('phone.csv')

## Data Overview and Preprocessing

### `df_contract`

In [2]:
display(df_contract.info())
display(df_contract.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
customerID          7043 non-null object
BeginDate           7043 non-null object
EndDate             7043 non-null object
Type                7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

None

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,2019-09-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,70.70,151.65

In [3]:
df_contract['Type'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

- Make column names snake_script
- Change `type` to `contract_type` for eaase of understanding when dataframes are merged
- Create two new columns, `churned` with 1/0 determined by EndDate, and `contract_length` with a integer value representing the number of months a customer remained before churning and missing values for those that have not
- Convert Yes/No to 1/0
- Convert "Month-to-Month" in `contract_type` column to "Monthly", this serves two purposes, the first being it will reduce string length and save on memory, the second is that "Monthly" is quite simply easier.
- Convert Dates to datetime data type, this will require converting "No" values in `EndDate` to missing values

### `df_personal`

In [4]:
display(df_personal.info())
display(df_personal.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
customerID       7043 non-null object
gender           7043 non-null object
SeniorCitizen    7043 non-null int64
Partner          7043 non-null object
Dependents       7043 non-null object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

None

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [5]:
df_personal['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [6]:
df_personal['SeniorCitizen'].unique()

array([0, 1], dtype=int64)

- Change `gender` to `male`, previous "Male" values convert to 1, previous "Female" values convert to 0 (This will save with OHE during feature engineering as well as keep with a standardized 1/0 format)
- Convert column names to snake_script
- Convert Yes/No values to 1/0

### `df_internet`

In [7]:
display(df_internet.info())
display(df_internet.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
customerID          5517 non-null object
InternetService     5517 non-null object
OnlineSecurity      5517 non-null object
OnlineBackup        5517 non-null object
DeviceProtection    5517 non-null object
TechSupport         5517 non-null object
StreamingTV         5517 non-null object
StreamingMovies     5517 non-null object
dtypes: object(8)
memory usage: 344.9+ KB

None

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No

### `df_phone`

In [8]:
display(df_phone.info())
display(df_phone.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
customerID       6361 non-null object
MultipleLines    6361 non-null object
dtypes: object(2)
memory usage: 99.5+ KB

None

   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No
3  9305-CDSKC           Yes
4  1452-KIOVK           Yes

For `df_internet` and `df_phone`:

- Convert column names to snake_script
- Convert Yes/No values to 1/0

## Proposed Work Plan

1. Load data and libraries

2. Inspect datasets for preprocessing, EDA, and feature engineering

3. Preprocess data
    - Carry out stated plans above in regards to individual datasets
    - Check for duplicate values and unintentional missing values (there are two columns, in `df_contract` that will intentionally contain missing values as they relate to customers that have churned.
    - Combine the individual datasets on `customerID` to create one master dataframe

4. Exploratory Analysis
    - Historgram for length of time before churn
    - Bar graph showing churn vs not churn and contract types
    - Bar graph showing churn vs not churn and payment types
    - Four box and whisker plots showing distribution of:
        - Monthly charges of customers that have churned
        - Total charges of customers that have churned
        - Monthly charges of current customers
        - Total charges of current customers
    - Bar chart showing Churned vs Current customers' personal information (represented as percentage of total values), such as gender, senior status, partner, and dependents
    - Bar chart showing contract type in relation to personal information (represented as percentage of total values), such as gender, senior status, partner, and dependents
    - Bar chart for Churned vs Not Churned in relation to the type of internet service
    - Bar chart for contract type in relation to type of internet service
    - Bar chart showing Churned vs Current customers' internet services (represented as percentage of total values), such as online security, online backup, device protection, tech support, streaming TV, and streaming movies
    - Bar chart showing contract type in relation to internet services (represented as percentage of total values), such as online security, online backup, device protection, tech support, streaming TV, and streaming movies
    - Bar chart showing Churned vs Not Churned for multiple lines
    - Bar chart showing contract type in relation to multiple phone lines

5. Feature Engineering
    - Create two new columns, churned with 1/0 determined by EndDate (This is done already in preprocessing to be available during EDA)
    - OHE for `contract_type`, `payment_method`, and `internet_service`
    - Scaling for `monthly_charges` and `total_charges`

6. Split Data for Machine Learning
    - Date will be split into a Training and Testing set at a 3:1 ratio
    - Split will be stratified on `churned` to ensure even distribution between the two sets
    - `begin_date`, `end_date`, and `contract_length` will not be included in 'features' as the dates are arbitrary, and contract length is only relevant to those customers that have already churned
    - Features will be nearly all of the columns, with the exception of those mentioned above and `customer_id`
    - Target will be the engineered `churned` column

7. Train and Evaluate Models
    - Cross-validation will be used for assessment of the models
    - Scoring used with be AUC-ROC with a target of 0.88 or higher
    - Multiple classification models will be trained, including those with gradiant boosting

8. Select Model
    - The best performing model will be elected based on AUC_ROC

9. Conclusion
    - The findings of the EDA will be summarized
    - The selected model will be recommended